<script src="/static/js/MagicApp.js"></script>
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<!-- error messages -->
<div class="row-fluid" onclick="hideElement(this)">
    <div class="span6 alert alert-error">
        Errors occured:
        <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>
    </div>
</div>
{% endif %}
{% endwith %}

{% with warnings = get_flashed_messages(category_filter=["warning"]) %}
{% if warnings %}
<!-- warning messages -->
<div class="row-fluid" onclick="hideElement(this)">
    <div class="span6 alert alert-warning">
        Warning:
        <ul>
            {%- for msg in warnings %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>
    </div>
</div>
{% endif %}
{% endwith %}

{% with infos = get_flashed_messages(category_filter=["info"]) %}
{% if infos %}
<!-- info messages -->
<div class="row-fluid" onclick="hideElement(this)">
    <div class="span6 alert alert-info">
        <ul>
            {%- for msg in infos %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>
    </div>
</div>
{% endif %}
{% endwith %}


<!-- js messages -->
<div id="jsMessageBox"class="row-fluid hidden" onclick="hideElement(this)">
    <div class="span6 alert alert-wanning">
        <ul>
            <li id="jsMessageContent"></li>
        </ul>
    </div>
</div>
