.hidden {
   display: none;
}

#middle-content{
    padding: 20px 25px 0px 25px ;
}

#cardImage{
    width:298px;
    height: 431px;
    background-position: -7px -7px;
}

td{
    padding: 20px;
}

.card-in-deck{
    color: #04a1ec;
}