{% extends "master.html" %}
{% block content %}

    <ul class="breadcrumb">
        <li>
            <a href="javascript:void(0);"><i class="icon-off"></i> Dashboard</a><span class="divider">/</span>
        </li>
        <li>
            <a href="javascript:void(0);">Library</a><span class="divider">/</span>
        </li>
        <li class="active">
            Current Page
        </li>
    </ul>
    <div class="text-center">
        <h2>{{ profile_user.username }}</h2>
        <h1>Home Page</h1>
    </div>
{% endblock %}

{% block right %}

        <div class="divider"></div>

        <div class="aside-buttons" id="deckBtns">
{#            {% for deck in user.get_decks() %}#}
{#                <button id="{{ deck }}Btn" onclick="deckBtnClicked(this)" title="" class="btn btn-info">{{ deck }}</button>#}
{#            {% endfor %}#}
        </div>

        <div class="divider"></div>

        <div class="aside-buttons">
{#            <button onclick="tradeBtnClicked(this)"title="" class="btn btn-warning special">Trade</button>#}
{#            <button onclick="recycleBtnClicked(this)"title="" class="btn btn-danger special">Recyce</button>#}
        </div>

        <div class="divider"></div>

        <dit class="aside-buttons">
{#            <button id="okBtn" onclick="okButtonClicked()"  title="" class="btn btn-success specal hidden">OK</button>#}
        </dit>



{% endblock %}